aimsim-core
astartes
chemprop==2.2.3
descriptastorus
gdown
httpx
ipykernel
ipython
ipywidgets
jupyterlab
lightning
mhfp
mordredcommunity
notebook
numpy
openpyxl
pandas
padelpy
pillow
rdkit
requests
rich
scikit-learn
scipy
tabulate
torchmetrics
tqdm
xarray